.card-color {
  background-color: green;
}

.card-style {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  color: black;
}

.bg-red {
  background-color: red;
}
.bg-yellow {
  background-color: yellow;
}
.bg-default {
  background-color: green;
}
